.navbar{
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    color: white !important;
    padding-top:-20px;
    position:fixed !important;
    top:0;
    width:100%;
    z-index:4 !important;
}

.bg-dark{
    background-color: #000 !important;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.navbar-right{
    float:right;
    padding-right:1%;
}

nav a:hover {
    color: #c3c3c3 !important;
}

.navbar-right a{
    text-decoration:none;
    padding:10px;
    color: #fff;
    font-weight:900;
}

.navbar-right a:hover {
    text-decoration: underline;
}